apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment-quasar-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: operation-quasar
  template:
    metadata:
      labels:
        app: operation-quasar
        version: v2 
    spec:
      containers:
      - name: app
        image: ""
        imagePullPolicy: Always
        ports:
        - containerPort: 8089
